@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*'Kaushan Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*'Montserrat', sans-serif;*/
@font-face {
	font-family: 'Myriad';
	src: url('fonts/MyriadPro-CondIt.eot');
	src: local('☺'), url('fonts/MyriadPro-CondIt.woff') format('woff'), url('fonts/MyriadPro-CondIt.ttf') format('truetype'), url('fonts/MyriadPro-CondIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	/*line-height: 1.6;*/
}

.newclass {
	border: 2px solid black;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	height: 100%;
	padding: 0 20px;
}

.first {
	height: 1000px;
	background: url('../img/first-banner.jpg') center no-repeat;
	background-size: cover;
	color: #fff;
}

	header {
		margin-top: 29px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.brand-name {
		font-weight: bold;
		font-size: 30px;
		cursor: pointer;
		transition-duration: 0.5s;
		р
	}

	.brand-name:hover {
		color: #dfc97a;
	}

	nav {
		display: flex;
	}

	.nav-item {
		margin-bottom: 12px;
		margin-left: 55px;
		font-size: 14px;
		transition-duration: 0.3s;
	}

	.nav-item div {
		margin-top: 12px;
		transition-duration: 0.5s;
	}

	nav div:hover {
		color: #fce38a;
		cursor: pointer;
	}

	nav div:hover .line {
		width: 100%;
	}

	.line {
		height: 3px;
		width: 0;
		background-color: #fce38a;
	}

	.shop-icon {
		margin-left: 50px;
		margin-right: 40px;
		transition-duration: .2s;
		align-self: start;
		width: 20px;
		height: 20px;
	}

	.search-icon {
		transition-duration: .2s;
	}

	.shop-icon:hover {
		transform: scale(1.1, 1.1);
	}

	.search-icon:hover {
		transform: scale(1.1, 1.1);
	}

	.main-text {
		position: relative;
		margin-top: 157px;
		text-align: center;
		min-height: 452px;
	}

		.under-h2 {
			font-family: 'Kaushan Script', cursive;
			font-size: 72px;
			margin-bottom: 42px;
			transition-duration: 0.3s;
			display: inline-block;
		}

		.under-h2:hover {
			color: #334491;
			cursor: pointer;
		}

		.mogo-line {
			height: 3px;
			width: 60px;
			background-color: #fff;
			margin: 0 auto;
			margin-top: 65px;
			transition-duration: .5s;
		}

		.h1-intro {
			display: inline-block;
			text-align: center;
			font-size: 150px;
			line-height: 140px;
			font-weight: bold;
			transition-duration: 0.3s;
		}

		.blabla:hover {
			color: #fce38a;
			cursor: pointer;
		}

		.blabla:hover .mogo-line{
			width: 140px;
		}

.button-container {
	margin-top: 50px;
	text-align: center;
}

.learn-button {
	text-transform: uppercase;
	display: inline-block;
	background-color: transparent;
	padding: 12px 30px;
	font-size: 14px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: 3px solid white;
	transition-duration: .2s;
}

	.learn-button:hover {
		cursor: pointer;
		background-color: #fff;
		color: #eec588;
	}

.flex-container {
	display: flex;
	flex-direction: column;
}

.middle-text {
	flex-grow: 1;
}

.intro-footer {
	display: flex;
	justify-content: space-between;
	height: 73px;
}

.intro-footer p {
	display: inline-block;
}


.into-footer-line {
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 0px;
	transition-duration: .5s;
	background-color: #fff;
	z-index: 5;
}

.into-footer-number {
	font-weight: bold;
	font-size: 24px;
}

.intro-footer-text {
	font-size: 18px;
	margin-left: 5px;
}

.footer-item {
	position: relative;
	width: 280px;
	opacity: 0.6;
	transition-duration: .2s;
}

	.footer-item:hover {
		cursor: pointer;
		opacity: 1;
	}

	.footer-item:hover .into-footer-line {
		width: 280px;
	}

	.footer-item p {
		margin-top: 25px;
	}

	.red-line{
		height: 3px;
		width: 0px;
		background-color: #f38181;
		position: absolute;
		top: 0;
		left: 0;
		transition-delay: .1s;
		transition-duration: .3s;
		z-index: 10;
	}

	.footer-item:hover .red-line {
		width: 70px;
	}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Второй блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/

.second {
	height: 750px;
	text-align: center;
}

	.second-main-title {
		display: inline-block;
		margin-top: 90px;
	}

		.second-main-h3 {
			display: inline-block;
			margin: 0 auto;
			font-family: 'Kaushan Script', cursive;
			font-size: 24px;
			transition-duration: .2s;
		}

		.second-main-h3:hover {
			cursor: pointer;
			color: #c7b577;
		}
		.h2-and-line {
			display: inline-block;
			margin-top: 24px;
		}

			.second-main-h2 {
				text-transform: uppercase;
				font-size: 30px;
				font-weight: bold;
				transition-duration: .3s;
			}

			.second-line {
				height: 3px;
				width: 60px;
				background-color: #f38181;
				transition-duration: .3s;
				margin: 40px auto 0;
			}

			.h2-and-line:hover {
				cursor: pointer;
			}

			.h2-and-line:hover .second-main-h2 {
				transform: scale(1.1, 1.1);
			}

			.h2-and-line:hover .second-line {
				width: 140px;
			}

			.second-p {
				margin-top: 35px;
				color: #999999;
				line-height: 24px;
				font-family: 'Myriad';
			}

	.second-pictures {
		margin: 93px -5px 0;
		display: flex;
		justify-content: space-between;
	}

		.picture-container {
			position: relative;
			margin: 0 5px;
		}

		.picture-container img {
			max-width: 100%;
		}

		.picture-shadow {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -20;
		}

		.second-picture {
			transition-duration: .3s;
		}

		.picture-container:hover .second-picture {
			cursor: pointer;
			transform: translate(-10px, -10px);
		}

		.picture-container:hover .pic-over {
			opacity: 1;
		}

		.original-pic {
			transition-duration: .3s;
		}

		.picture-container:hover .original-pic {
			opacity: 0;
		}

		.pic-over {
			width: 500px;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition-duration: .3s;
		}

		.animation-second-text {
			opacity: 0;
			display: inline-block;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			font-size: 18px;
			position: absolute;
			top: 100px;
			left: 130px;
			transition-duration: .3s;
		}

		.animation-second-text p {
			margin-top: 10px;
		}

		.picture-container:hover .animation-second-text {
			opacity: 1;
		}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Третий блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/
.third-flex {
	display: flex;
	border-right: 1px solid #b5eae0
}
	.third {
		height: 270px;
		background-color: #95e1d3;
	}

		.third-item {
			width: 240px;
			height: 100%;
			border-left: 1px solid #b5eae0;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		.item-number {
			color: #fff;
			font-size: 72px;
			font-weight: bold;
			margin-bottom: 30px;
			transition-duration: .3s;
		}

		.item-text {
			text-transform: uppercase;
			font-size: 14px;
			color: #fff;
		}

		.text-line {
			height: 2px;
			width: 0px;
			background-color: #fff;
			margin-top: 3px;
			transition-duration: 0.3s;
		}

		.third-item-text:hover {
			cursor: pointer;
		}

		.third-item-text:hover .item-number {
			transform: scale(1.2, 1.2);
		}

		.third-item-text:hover .text-line {
			width: 100%;
		}

		.last-third {
			display: inline-block;
		}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Четвёртый блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/

.fourth {
	text-align: center;
	height: 650px;
}
	
	.fourth-main-text {
		display: inline-block;
		margin-top: 110px;
	}

		.fourth-h3 {
			font-family: 'Kaushan Script', cursive;
			font-size: 24px;
			transition-duration: .3s;
		}

		.fourth-h3:hover {
			cursor: pointer;
			color: #c7b577;
		}

		.fourth-h2 {
			font-weight: bold;
			font-size: 30px;
			text-transform: uppercase;
			margin-top: 20px;
			transition-duration: .3s;
		}

		.fourth-under-line {
			height: 3px;
			width: 60px;
			background-color: #f38181;
			transition-duration: .3s;
			margin: 40px auto 0;
			transition-duration: .3s;
		}

		.fourth-h2-line:hover {
			cursor: pointer;
		}

		.fourth-h2-line:hover .fourth-h2 {
			transform: scale(1.1, 1.1);
		}

		.fourth-h2-line:hover .fourth-under-line {
			width: 140px;
		}

	.fourth-main-flex {
		display: flex;
		flex-wrap: wrap;
		margin-top: 16px;
	}

		.main-flex {
			display: flex;
			width: 33.333%;
			padding-left: 30px;
			min-height: 121px;
			border-bottom: 1px solid #e5e5e5;
			margin-top: 49px;
		}

		.main-flex-two {
			border: 0;
		}

		.fourth-text {
			display: flex;
			flex-direction: column;
			text-align-last: left;
			margin-left: 28px;
		}

		.main-flex img {
			width: 32px;
			height: 31px;
			transition-duration: .2s;
		}

		.main-flex:hover img	 {
			cursor: pointer;
			transform: scale(1.2, 1.2);
		}

		.fourth-title {
			text-transform: uppercase;
			font-size: 14px;
			color: #333333;
		}

		.fourth-p {
			color: #999999;
			font-family: 'Myriad';
			margin-top: 15px;
			line-height: 24px;
		}

		.flex-line {
			height: 2px;
			width: 0;
			background-color: #333;
			transition-duration: .3s;
			margin-top: 2px;
		}

		.h3-and-line {
			align-self: start;
		}

		.main-flex:hover .flex-line {
			width: 100%;
		}

		.main-flex:hover {
			cursor: pointer;
		}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Пятый блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/

.fifth {
	height: 850px;
	background: url('../img/fifth-phon.png') center no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	overflow: visible;
}

	.container5 {
		max-width: 1240px;
		padding: 0 20px;
		margin: 0 auto;
		position: relative;
		height: 100%;
		overflow: visible;
	}

	.fifth-main-text {
		margin: 0 auto;
		padding-top: 109px;
		text-align: center;
	}

		.fifth-main-h3 {
			font-family: 'Kaushan Script', cursive;
			font-size: 24px;
			display: inline-block;
			transition-duration: .3s;
		}

		.fifth-main-h3:hover {
			cursor: pointer;
			color: #c7b577;
		}

		.fifth-h2-container {
			cursor: pointer;
			margin-top: 24px;
		}

			.fifth-main-h2 {
				font-size: 30px;
				font-weight: bold;
				transition-duration: .3s;
				text-transform: uppercase;
			}

			.fifth-h2-container:hover .fifth-main-h2 {
				transform: scale(1.1, 1.1);
			}

			.fifth-h2-line {
				display: inline-block;
				height: 2px;
				width: 60px;
				background-color: #f38181;
				margin-top: 38px;
				transition-duration: .3s;
			}

			.fifth-h2-container:hover .fifth-h2-line {
				width: 120px;
			}

	.phone {
		position: absolute;
		top: 465px;
		left: 628px;
		transition-duration: .3s;
	}

		.phone:hover {
			cursor: pointer;
			transform: scale(1.1, 1.1);
		}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Шестой блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/

.sixth {
	height: 350px;
	background-color: #f1f1f1;
}

	.left-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 3px solid transparent;
		align-self: center;
		transition-duration: .3s;
		cursor: pointer;
	}

		.left-arrow:hover {
			border-color: #95e1d3;
		}

	.right-arrow {
		align-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 3px solid transparent;
		align-self: center;
		transition-duration: .3s;
		cursor: pointer;
	}

		.right-arrow:hover {
			border-color: #95e1d3;
		}

	.sixth-flex-container {
		display: flex;
		margin-top: 90px;
	}

	.sixth-main-flex {
		flex-grow: 1;
		display: flex;
		margin: 0 75px;
		cursor: pointer;
	}

		.quote-img-container {
			width: 150px;
			height: 150px;
			border: 3px solid #95e1d3;
			flex-shrink: 0;
			transition-duration: .3s;
		}

			.quote-img-container img {
				margin: 45px 0 0 44px;
			}

			.sixth-main-flex:hover .quote-img-container {
				transform: scale(1.1, 1.1);
			}

		.sixth-text {
			padding-left: 60px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

			.quote {
				padding-top: 10px;
				color: #999999;
				font-size: 24px;
				font-family: 'Myriad';
				line-height: 35px;
			}

			.line-author-container {
				margin-top: 25px;
			}

				.author-line {
					display: inline-block;
					height: 3px;
					width: 60px;
					background-color: #f38181;
					align-self: center;
					margin-bottom: 5px;
					transition-duration: .3s;
				}

				.sixth-main-flex:hover .author-line {
					width: 120px;
				}

				.author {
					display: inline-block;
					font-family: 'Kaushan Script', cursive;
					font-size: 24px;
					color: #333;
					margin-left: 10px;
				}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Седьмой блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/

.seventh {
	height: 1050px;
	text-align: center;
}

	.seventh-text {
		margin: 100px auto 0;
		color: #333;
		text-align: center;
	}
		.seventh-h3 {
			font-family: 'Kaushan Script', cursive;
			font-size: 24px;
			transition-duration: .2s;
		}

			.seventh-h3:hover {
				cursor: pointer;
				color: #c7b577;
			}

		.seventh-h2-cont {
			margin-top: 23px;
			cursor: pointer;
		}
			.seventh-h2 {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 30px;
				transition-duration: .3s;

			}

			.seventh-h2-cont:hover .seventh-h2 {
				transform: scale(1.1, 1.1);
			}

			.seventh-line {
				display: inline-block;
				margin-top: 40px;
				height: 3px;
				width: 60px;
				background-color: #f38181;
				transition-duration: .3s;
			}

			.seventh-h2-cont:hover .seventh-line {
				width: 120px;
			}

	.seventh-p {
		display: inline-block;
		color: #999;
		margin-top: 45px;
		font-family: 'Myriad';
	}

	.seventh-flex {
		display: flex;
		margin-top: 95px;
		justify-content: space-between;
	}

		.seventh-flex-item {
			position: relative;
			cursor: pointer;
		}

			.main-img {
				transition-duration: .3s;
				transition: opacity .6s ease 0;
			}

			.seventh-flex-item:hover .main-img {
				transform: translate(-10px, -10px);
			}

			.seventh-shadow {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}

			.man-effect {
				width: 381px;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition-duration: .3s;
			}

			.seventh-flex-item:hover .man-effect {
				transform: translate(-10px, -10px);
				opacity: 1;
			}

	.bar7 {
		display: flex;
		position: absolute;
		top: 207px;
		left: 78px;
	}

		.bar7-item {
			display: flex;
			position: relative;
			width: 56px;
			height: 56px;
			background-color: #fce38a;
			border-right: 1px solid #f9bd87;
			z-index: 10;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition-duration: .3s;
		}

			.seventh-flex-item:hover .bar7-item {
				opacity: 1;
				transform: translate(-10px, -10px);
			}

			.bar7-item:hover {
				background-color: #f38181;
				border-color: #f38181;
			}


		.red-pic {
			position: absolute;
		}

		.white-pic {
			position: absolute;
			transition-duration: .1s;
			display: none;
		}

			.bar7-item:hover .white-pic {
				display: inline-block;
				opacity: 1;
			}

	.seventh-discribe {
		display: flex;
		justify-content: space-between;
	}
		.discribe-flex {
			width: 380px;
			text-align: center;
			display: block;
		}

			.seventh-h4 {
				color: #333;
				font-size: 14px;
				margin-top: 30px;
				text-transform: uppercase;
			}

			.seventh-h5 {
				font-family: 'Myriad';
				color: #999999;
				margin-top: 15px;
			}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Восьмой блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/

.eights {
	height: 250px;
	background-color: #f1f1f1;
}

	.eight-flex {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}

		.eight-img {
			transition-duration: .3s;
			cursor: pointer;
		}

			.eight-img:hover {
				transform: scale(1.05, 1.05);
			}

/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------Девятый блок------------------------
-----------------------------------------------------------
---------------------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------*/

.ninth {
	height: 1190px;
	text-align: center;
}

	.container2 {
		max-width: 1960px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		height: 100%;
		padding: 0 20px;
	}

		.ninth-text {
			display: block;
			margin: 110px auto 0;
			text-align: center;
			color: #333;
		}

			.ninth-h3 {
				font-family: 'Kaushan Script', cursive;
				font-size: 24px;
				transition-duration: .2s;
			}

				.ninth-h3:hover {
					cursor: pointer;
					color: #f38181;
				}

			.ninth-h2-cont {
				margin-top: 23px;
			}

				.ninth-h2 {
					font-weight: bold;
					font-size: 30px;
					text-transform: uppercase;
					cursor: pointer;
				}

				.ninth-line {
					height: 3px;
					width: 60px;
					background-color: #f38181;
					margin: 41px auto 0;
					transition-duration: .3s;
				}

					.ninth-h2-cont:hover .ninth-line {
						width: 120px;
					}

			.ninth-p {
				color: #999;
				margin-top: 45px;
				font-family: 'Myriad';
			}

		.ninth-flex {
			display: flex;
			margin-top: 103px;
			height: 780px;
		}

			.first-under-flex {
				display: flex;
				width: 50%;
				flex-wrap: wrap;
			}

				.firs-flex-item {
					width: 50%;
					height: 50%;
				}

				.main-ninth-flex {
					width: 50%;
					height: 100%;
				}

					.second-flex-item {
						height: 50%;
					}

				.second-under-flex {
					width: 50%;
					height: 100%;
					display: flex;
					flex-direction: column;
				}
